@tailwind base;
@tailwind components;
@tailwind utilities;

*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  background: #F0F4F9;
  font-family: 'Inter', 'Poppins', sans-serif;
}
